.hero-section {
background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('/static/images/hero.jpg');
height: 80vh;
background-size: cover;
}

body {
    margin: 0;
    font-family: Arial;
}

.navbar {
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.hero {
    height: 90vh;
    background: url("../images/hero.jpg") center/cover;
    color: white;
    text-align: center;
    padding-top: 200px;
}

.btn {
    background: #ffc107;
    padding: 12px 25px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.center {
    text-align: center;
}

.tour-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
}

.tour-card {
    box-shadow: 0 0 10px #ccc;
    padding: 15px;
    text-align: center;
}

.tour-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
