.hero-section {
background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('/static/images/hero.jpg');
height: 80vh;
background-size: cover;
}

body {
    margin: 0;
    font-family: Arial;
}

.navbar {
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.hero {
    height: 100vh;
    background:
        linear-gradient(
            rgba(0,0,0,0.55),
            rgba(0,0,0,0.65),
            rgba(248,249,250,1)
        ),
        url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e")
        no-repeat center center / cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}



.btn {
    background: #ffc107;
    padding: 12px 25px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.center {
    text-align: center;
}

.tour-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
}

.tour-card {
    box-shadow: 0 0 10px #ccc;
    padding: 15px;
    text-align: center;
}

.tour-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}






